 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
} 


body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    
}

.container{
    width: 100%;
    max-width: 500px;
    background: transparent;
    border-radius: 20px;
    text-align: center;
    margin: 5% auto 0;
    padding: 45px;
    display: flex;
    flex-direction: column;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    color: #555;
    padding: 10px 25px;
    border-radius: 20px;
    height: 50px;
    width: 70%;
    border: 0;
    outline: 0;
    margin-left: 5px;
   
}

.search button{
    border: 0;
    outline: 0;
    background : white;
    border-radius: 60%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    
}

.search button img{
    width: 20px;
    
}

.weather-info{
    display: none;
    
}
.weather-info h1{
    font-size: 250%;
    font-weight: 500;
}

.weather-info h2{
    font-size: 200%;
    font-weight: 300;
    margin-top: 20px;
}


.weather-icon{
    width: 40%;
    margin-top: 25px;
}

.weather-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
   font-size: 28px;
   margin-top: -6px;
}

.error
{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.main-info img{
    width: 200px;
}

.main-value{
    margin-top: 50px;
    margin-right: 10px;
}


@media (max-width:450px) {
    
    
        .col img{
            width: 30px;
            margin-right: 5px;
        }
        
        .humidity, .wind{
           font-size: 10px;
           margin-top: -2px;
        }

        .col1, .col2{
            font-size: 10px;
        }
       
    
}

@media (max-width:350px)
{
    .main-info{
        display: flex;
        flex-direction: column;
    }
}